<div class="container">
  <%= render partial: 'animals/search' %>

  <% if @animals.any? %>
    <h2>We found <%= @animals.total_count %> results for your Search!</h2>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Castrated</th>
        <th>Owner</th>
        <th>Last Check-In</th>
      </tr>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.name %></td>
          <td><%= animal.breed %></td>
          <td><%= time_ago_in_words animal.birthday %></td>
          <td><%= animal.gender.capitalize %></td>
          <td><%= animal.castrated ? 'Yes' : 'No' %></td>
          <td><%= animal.owner %></td>
          <td><%= time_ago_in_words animal.last_checkin %></td>
        </tr>
      <% end %>
    </table>

    <div class="text-center">
      <%= paginate @animals %>
    </div>

  <% else %>
    <h2>We do not have any animal registered yet.</h2>
  <% end %>
</div>
